body {
  font-family: Arial, sans-serif;
  background-color: #e5e1e1;
  margin: 0;
  padding: 20px;
}

.card {
  background: #f2f2f2;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; /* Щоб текст і картинка могли переноситися */
}

.text-content {
  max-width: 60%;
}

.text-content h2 {
  font-size: 18px;
  font-weight: bold;
  border-left: 4px solid black;
  padding-left: 10px;
  margin-bottom: 20px;
}

.text-content h1 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 15px;
}

.details {
  list-style-type: disc;
  padding-left: 20px;
}

.details li {
  margin-bottom: 5px;
}

.image-content {
  flex-shrink: 0;
}

.profile-photo {
  width: 300px;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.scientific-activity {
  margin-top: 40px;
  text-align: center;
}

.research-section {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #aaa;
  background-color: #f2f2f2;
  flex-wrap: wrap; 
}

.description-box {
  background-color: #e5e5e5;
  flex: 2;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.right-boxes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small-box {
  background-color: #e5e5e5;
  padding: 20px;
  font-weight: bold;
  border-radius: 8px;
}
.partners-photos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.partners h3 {
  display: flex;
  justify-content: center;
}
.partner-photo {
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.partner-photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


@media (max-width: 768px) {
  .text-content {
    max-width: 100%;
  }

  .profile-photo {
    width: 200px;
    margin-top: 20px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .description-box {
    height: auto;
    padding: 15px;
    font-size: 16px;
  }

  .research-section {
    flex-direction: column;
  }

  .right-boxes {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .small-box {
    width: 45%;
    text-align: center;
  }

  .partners-photos {
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
  }

  .partner-photo {
    width: 120px;
    height: 120px;
    padding: 10px;
  }
}
